<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="wrapper">
    <form action="" method="post" class="form-input">

                    <p>
                        <label>
                            <input class="input" type="text" name="username" placeholder="Username">
                        </label>
                        <button type="submit" class="button">Check Player</button>
                    </p>
    </form>
        {% if name and guild%}
            <p>{{ name }} {{ guild }} в гильдию</p>
        {% endif %}
    </div>

</body>
</html>